
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Mobile_Info.Models;

<div class="col-sm-9 padding-right">
    <div class="features_items">
        <!--features_items-->
        <h2 class="title text-center">Details</h2>
        <div class="product-details">
            <!--product-details-->
            <div class="col-sm-5">
                <div class="view-product">
                    <img style="height:350px; width:167px" src="~/images/product-details/mobile-detail.jpg" alt="" />
                </div>

            </div>
            <div class="col-sm-7">
                <div class="product-information">
                    <h2>@ViewBag.MobileDetail.Title</h2>
                    <span>
                        <span>20000</span>
                    </span>
                    <p><b>OS:</b> @ViewBag.MobileDetail.OS </p>
                    <p><b>Front Camera:</b> @ViewBag.MobileDetail.FrontCameraPx MP</p>
                    <p><b>Back Camera:</b> @ViewBag.MobileDetail.BackCameraPx MP</p>
                </div><!--/product-information-->
            </div>
        </div><!--/product-details-->

    </div>
</div>