
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Mobile_Info.Models
@model MobileViewModel
<div class="col-sm-9 padding-right">
    <div class="features_items">
        <!--features_items-->

        <h2 class="title text-center">Mobile Phones</h2>

        @{

            foreach (MobileViewModel mobile in ViewBag.mobiles)
            {
                <div class="col-sm-4">
                    <div class="product-image-wrapper">
                        <div class="single-products">
                            <div class="productinfo text-center">
                                <img style="height:200px; width:100px" src="~/images/home/mobile1.jpg" alt="" />
                                <h2>@mobile.Price Rs</h2>
                                <a href="#" class="btn btn-default add-to-cart">Show Details</a>
                            </div>
                            <div class="product-overlay">
                                <div class="overlay-content">
                                    <h2>@mobile.Price Rs</h2>
                                    <input class="btn btn-default add-to-cart" type="button" value="Show   Details" onclick="window.location.href='../Home/Details/' + @mobile.Id.ToString()" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>

