
@{
    ViewBag.Title = "AddCategory";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}



@using Mobile_Info.Models
@model CategoryViewModel

@using (Html.BeginForm("AddCategory", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{


    <fieldset>
        <legend>Add Mobile</legend>
        <div>

        <div>
            <label for="Title">Title:</label>
            @Html.TextBox("Title", null, new { @class = "form-control" })
        </div>
        <div>
            <label>&nbsp;</label>
            <input type="submit" value="Submit" class="submit" />
        </div>
            </div>
    </fieldset>
       }




